
.title {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-text-fill: #654b00;
}

.text {
    -fx-font-family: Palatino;
    -fx-text-fill: #654b00;
}

.button {
    -fx-font-size: 14px;
}

.top {
    -fx-spacing: 10;
    -fx-text-fill: #654b00;
}

.vbox {
    -fx-background-color: #c4d411;
}

.radio {
    -fx-font-size: 14px;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-text-fill: #654b00;
}

.anch {
    -fx-background-color: #9aa60d;
    -fx-spacing: 5;
    -fx-padding: 8;
}

.analysis_label {
    -fx-font-size: 16px;
    -fx-text-fill: #654b00;
}

.welcome {
    -fx-font-size: 20px;
    -fx-text-fill: #654b00;
}

.pane {
    -fx-background-color: #ecf589;
}

.disclaimer {
    -fx-font-size: 11px;
    -fx-text-fill: #654b00;
    -fx-spacing: 10;
    -fx-padding: 15;
    -fx-font-family: Palatino;
}

.homebtn{
    -fx-font-size: 14px;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-text-fill: #654b00;
    -fx-background-color: #c4d411;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.chart{
    -fx-font-family: Palatino;
    -fx-text-fill: #654b00;
    -fx-font-size: 15px;
    -fx-padding: 15;
    -fx-spacing: 10;
}
